<div class="policy-page">
  <div class="cover-img">
    <img src="../../../assets/exchange.jpg" alt="" srcset="" />
    <div class="overlay">
      <div class="content">
        <h2>Terms &</h2>
        <h2>Condition</h2>
      </div>
    </div>
  </div>
  <div class="page-content container">
    <p data-aos="fade-in">
      We prioritize your trust and confidence in VirtueStars.com. Thus, we
      uphold stringent standards for secure transactions and safeguarding
      customer information privacy.
    </p>

    <p class="title" data-aos="fade-in">Use of the Website:</p>
    <p class="pt-0" data-aos="fade-in">
      By accessing our website, you affirm your legal entitlement to do so and
      utilize the information provided via the website, call centre, or any
      other communication means.
    </p>

    <p class="title" data-aos="fade-in">Definition:</p>
    <p class="pt-0" data-aos="fade-in">
      "Jewellery" encompasses pre-designed or gold-set jewellery featuring
      lab-grown diamonds available for sale on our website/retail stores. Please
      note that all Jewellery is sold on an "as is" basis. "Mounts" denote
      designs holding diamond(s) in place, with or without diamonds. Members can
      choose Mounts and diamonds separately to create customized Jewellery.
      "Loose Diamonds" refer to individual diamonds available for purchase
      without being set on Mounts.
    </p>

    <p class="title" data-aos="fade-in">Trademarks:</p>
    <p class="pt-0" data-aos="fade-in">
      The trademarks, names, logos, and service marks displayed on this website
      are both registered and unregistered trademarks of VirtueStars. No part of
      this website grants any license or right to use any trademark without
      prior written permission.
    </p>

    <p class="title" data-aos="fade-in">External Links:</p>
    <p class="pt-0" data-aos="fade-in">
      While external links may be provided for convenience, they are beyond our
      control, and we make no representations regarding their content. Use of or
      reliance on external links and their content is at your own risk
    </p>

    <p class="title" data-aos="fade-in">Warranties:</p>
    <p class="pt-0" data-aos="fade-in">
      We do not make any warranties, representations, statements, or guarantees
      regarding the website, whether express, implied in law, or residual.
    </p>

    <p class="title" data-aos="fade-in">Prices:</p>
    <p class="pt-0" data-aos="fade-in">
      Our pricing is determined using current precious metal and gem prices to
      offer you the best possible value. Prices may vary due to fluctuations in
      precious metal and diamond prices. The pricing of metal on the day of
      purchase/advance payment is considered for customer pricing.
    </p>

    <p class="title" data-aos="fade-in">Other Information:</p>
    <p class="pt-0" data-aos="fade-in">
      Our Website provides access to trading, pricing, news, and other
      information services related to diamonds and jewellery. Certain services
      are exclusively available to Members. Our services cater to Members
      interested in purchasing diamonds/jewellery for personal consumption,
      including customized and ready-made Jewellery.
    </p>

    <p class="title" data-aos="fade-in">Disclaimer of Liability:</p>
    <p class="pt-0" data-aos="fade-in">
      We disclaim all liability for any loss, liability, damage, personal
      injury, or expense arising from your access and use of the website, its
      content, or any transmitted material. Neither VirtueStars nor any third
      party or content provider shall be liable for any loss or damage arising
      from delays, inaccuracies, errors, or omissions in share price information
      or actions taken in reliance thereon.
    </p>

    <p class="title" data-aos="fade-in">Cancellation & Returns:</p>
    <p class="pt-0" data-aos="fade-in">
      Orders can be cancelled within 24 hours. Payment gateway charges of 1% may
      be deducted. Customized orders are subject to making charges upon
      cancellation. Refunds for returns under our 15 Day Money Back policy will
      be credited to your account or refunded to your bank account.
    </p>

    <p class="title" data-aos="fade-in">Applicable Laws:</p>
    <p class="pt-0" data-aos="fade-in">
      Use of this website is governed by the laws of the state of SURAT, India.
      Disputes are subject to the jurisdiction of courts in SURAT, India.
    </p>

    <p class="title" data-aos="fade-in">Free Gift:</p>
    <p class="pt-0" data-aos="fade-in">
      All free gifts are considered discounts. Partial cancellations or returns
      of orders with free gifts will not include the discount attributed to the
      free gift.
    </p>

    <p class="title" data-aos="fade-in">Offer Terms & Conditions:</p>
    <p class="pt-0" data-aos="fade-in">
      Special offers are valid only on select designs. We reserve the right to
      modify these terms. All disputes are subject to SURAT jurisdiction.
    </p>

    <p data-aos="fade-in">
      We ensure transparency and compliance with relevant laws and regulations
      to provide you with a seamless shopping experience.
    </p>
  </div>
</div>
