.header-section {
  z-index: 11;
  background: var(--color-white);
  .header-title {
    padding: 7px 0;
    border-bottom: 1px solid #ebebeb;
    color: var(--color-white);
    background-color: var(--primary-text-color);
  }
  .company-name-header {
    .company-name {
      letter-spacing: 5px;
    }
    .company-img {
      height: 48px;
      width: 320px;
    }
  }
  .navbar {
    .nav-item {
      .dropdown-menu {
        border-top: 0px;
        left: -10px;
        top: 41px;
        right: -10px;
        font-family: "Teachers", sans-serif;
      }
      .diamond-dropdown-menu {
        display: none;
      }
      &.diamond-dropdown {
        &:hover {
          .diamond-dropdown-menu {
            display: block;
          }
        }
      }
      .engagement-ring-dropdown-menu {
        display: none;
      }
      &.engagement-ring-dropdown {
        &:hover {
          .engagement-ring-dropdown-menu {
            display: block;
          }
        }
      }
      .wedding-ring-dropdown-menu {
        display: none;
      }
      &.wedding-ring-dropdown {
        &:hover {
          .wedding-ring-dropdown-menu {
            display: block;
          }
        }
      }
      .jewelry-dropdown-menu {
        display: none;
      }
      &.jewelry-dropdown {
        &:hover {
          .jewelry-dropdown-menu {
            display: block;
          }
        }
      }
      .gifts-dropdown-menu {
        display: none;
      }
      &.gifts-dropdown {
        &:hover {
          .gifts-dropdown-menu {
            display: block;
          }
        }
      }
      .nav-link {
        color: var(--primary-text-color);
        cursor: pointer;
        display: block;
        position: relative;
        padding: 4px 0;
        margin: 0px 10px;
        font-size: 16px;
        &::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: var(--primary-text-color);
          transition: 0.5s transform ease;
          transform: scale3d(0, 1, 1);
          transform-origin: 50% 50%;
        }
        &:hover::before {
          transform: scale3d(1, 1, 1);
        }
        &:hover {
          font-weight: 500;
        }
      }
    }
    .img-div {
      height: 28px;
      width: 28px;
      &.cart-img-div {
        &:hover {
          .cart-img-gif {
            display: block;
          }
          .cart-img {
            display: none;
          }
        }
      }
      &.user-img-div {
        &:hover {
          .user-img-gif {
            display: block;
          }
          .user-img {
            display: none;
          }
        }
      }
      &.heart-img-div {
        &:hover {
          .heart-img-gif {
            display: block;
          }
          .heart-img {
            display: none;
          }
        }
      }
    }
    .nav-icon {
      cursor: pointer;
      .cart-img-gif {
        display: none;
      }
      .user-img-gif {
        display: none;
      }
      .heart-img-gif {
        display: none;
      }
      .icon-img {
        height: 28px;
      }
    }
  }
}
:host ::ng-deep .mobile-nav {
  display: none;
  mat-expansion-panel {
    box-shadow: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    mat-expansion-panel-header {
      border-bottom: 1px solid black;
      border-radius: 0;
      mat-panel-title {
        font-size: 18px;
      }
    }
    .mat-expansion-panel-body {
      padding: 10px 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .nav-header {
    display: none;
  }
  .mobile-nav {
    display: block;
    right: unset;
    top: 5px;
    .navbar-toggler {
      border: 0;
      height: 40px;
      background-color: var(--primary-text-color);
      border-radius: 50%;
      &:focus {
        box-shadow: none;
      }
      mat-icon {
        color: var(--color-white);
      }
    }
    .offcanvas-header {
      background-color: var(--primary-text-color);
      color: var(--color-white);
      justify-content: space-between;
      mat-icon {
        cursor: pointer;
      }
      .offcanvas-title {
        margin-bottom: 0;
        font-size: 23px;
        letter-spacing: 5px;
      }
    }
  }
}
