<section class="footer">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <h3>Policies</h3>
          <ul class="foot-nav">
            <li>
              <a (click)="navigation('exchange-policy')">
                Exchange &amp; Buy Back Policies
              </a>
            </li>
            <li>
              <a (click)="navigation('shipping-policy')"> Shipping Policies </a>
            </li>
            <li>
              <a (click)="navigation('return-policy')"> Return Policies </a>
            </li>
            <li>
              <a (click)="navigation('terms-condition')">
                Terms &amp; Conditions
              </a>
            </li>
            <li>
              <a (click)="navigation('privacy-policy')"> Privacy Policy </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Categories</h3>
          <ul class="foot-nav">
            <li>
              <a href=""> Rings </a>
            </li>
            <li>
              <a href=""> Bracelets </a>
            </li>
            <li>
              <a href=""> Earrings </a>
            </li>
            <li>
              <a href=""> Pendants </a>
            </li>
            <li>
              <a href=""> Nosepins </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Learn</h3>
          <ul class="foot-nav">
            <li>
              <a (click)="navigation('about-us')"> About Us </a>
            </li>
            <li>
              <a (click)="navigation('about-lab-diamond')">
                About Lab Diamonds
              </a>
            </li>
            <li>
              <a (click)="navigation('ring-size-guide')"> Ring Size Guide </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1 class="company-name">Virtue Stars</h1>
      <div class="d-flex gap-2 align-items-center mb-3">
        <div class="d-flex">
          <mat-icon> mail_outline</mat-icon>
        </div>
        <div class="d-flex">
          <p class="mb-0">{{ mail }}</p>
        </div>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <div class="d-flex">
          <mat-icon> call</mat-icon>
        </div>
        <div class="d-flex">
          <p class="mb-0">{{ mobileNumber }}</p>
        </div>
      </div>
    </div>
  </div>
  <p class="copy-right text-center">© 2024 Copyright: virtustars.com</p>
</section>
