<section class="footer">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <h3>Policies</h3>
          <ul class="foot-nav">
            <li>
              <a href=""> Exchange &amp; Buy Back Policies </a>
            </li>
            <li>
              <a href=""> Shipping Policies </a>
            </li>
            <li>
              <a href=""> Return Policies </a>
            </li>
            <li>
              <a href=""> Terms &amp; Conditions </a>
            </li>
            <li>
              <a href=""> Privacy Policy </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Categories</h3>
          <ul class="foot-nav">
            <li>
              <a href=""> Rings </a>
            </li>
            <li>
              <a href=""> Bracelets </a>
            </li>
            <li>
              <a href=""> Earrings </a>
            </li>
            <li>
              <a href=""> Pendants </a>
            </li>
            <li>
              <a href=""> Nosepins </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Learn</h3>
          <ul class="foot-nav">
            <li>
              <a href=""> About Us </a>
            </li>
            <li>
              <a href=""> About Lab Diamonds </a>
            </li>

            <li>
              <a href=""> FAQs </a>
            </li>
            <li>
              <a href=""> Franchise Enquiry </a>
            </li>
            <li>
              <a href="" target="_blank"> Ring Size Guide </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1 class="company-name">Virtue Stars</h1>
      <div class="d-flex gap-2 mb-3">
        <div>
          <mat-icon> location_on</mat-icon>
        </div>
        <div>
          <p class="mb-0">1st Floor, Azimganj House, 7, Camac St, Elgin,</p>
          <p class="mb-0">Kolkata, West Bengal 700017</p>
        </div>
      </div>
      <div class="d-flex gap-2 align-items-center mb-3">
        <div class="d-flex">
          <mat-icon> mail_outline</mat-icon>
        </div>
        <div class="d-flex">
          <p class="mb-0">{{ mailId }}</p>
        </div>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <div class="d-flex">
          <mat-icon> call</mat-icon>
        </div>
        <div class="d-flex">
          <p class="mb-0">+91 1234567890</p>
        </div>
      </div>
    </div>
  </div>
  <p class="copy-right text-center">© 2024 Copyright: virtustars.com</p>
</section>
