<div class="diamond">
  <div>
    <div class="title">Shop by natural diamond</div>
    <div class="diamond-type">
      <li><div>Earrings</div></li>
      <li><div>Bracelets</div></li>
      <li><div>Necklaces</div></li>
      <li><div>Rings</div></li>
      <li><div>Mens Ring</div></li>
      <li><div>Single Earrings</div></li>
      <li><div>View all</div></li>
      <li><div>Create your Own</div></li>
    </div>
  </div>
  <div>
    <div class="title">Shop by lab grown diamond</div>
    <div class="diamond-type">
      <li><div>Earrings</div></li>
      <li><div>Bracelets</div></li>
      <li><div>Necklaces</div></li>
      <li><div>Rings</div></li>
      <li><div>Mens Ring</div></li>
      <li><div>Single Earrings</div></li>
      <li><div>View all</div></li>
      <li><div>Create your Own</div></li>
    </div>
  </div>
  <div>
    <div class="title">Shop by fancy color diamond</div>
    <div class="diamond-type">
      <li><div>Earrings</div></li>
      <li><div>Bracelets</div></li>
      <li><div>Necklaces</div></li>
      <li><div>Rings</div></li>
      <li><div>Mens Ring</div></li>
      <li><div>Single Earrings</div></li>
      <li><div>View all</div></li>
      <li><div>Create your Own</div></li>
    </div>
  </div>
  <div class="img-div">
    <img src="../../../../assets/diamond.jpg" alt="" srcset="" />
  </div>
</div>
