.diamond {
  margin: 10px 25px;
  display: flex;
  align-items: center;
  gap: 50px;
  .title {
    text-wrap: nowrap;
    font-size: 18px;
    margin: 6px 0 26px 0;
    font-weight: 500;
  }
  .diamond-type {
    li {
      margin: 15px 0;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        color: #9b9b9b;
      }
    }
  }
  .img-div {
    max-height: 280px;
    max-width: 480px;
    img {
      width: 480px;
      height: 280px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .diamond {
    flex-direction: column;
    margin: 0;
    gap: 10px;
    align-items: start;
    .title {
      margin: 0;
      font-size: 15px;
    }
    .diamond-type {
      margin: 7px 0;
      font-size: 13px;
    }
    .img-div {
      width: 318px;
      height: 198px;
      img {
        width: 318px;
        height: 198px;
      }
    }
  }
}
