<div class="policy-page">
  <div class="cover-img">
    <img src="../../../assets/exchange.jpg" alt="" srcset="" />
    <div class="overlay">
      <div class="content">
        <h2>About Lab</h2>
        <h2>Diamond</h2>
      </div>
    </div>
  </div>
  <div class="page-content container">
    <p data-aos="fade-in">
      Lab-grown diamonds, are diamonds cultivated in laboratories using advanced
      reactors that simulate the conditions in which diamonds naturally form
      beneath the earth's surface. Physically, chemically, and optically
      identical to natural diamonds, lab-grown diamonds offer a sustainable
      alternative to mined diamonds. Think of them as akin to test tube babies –
      while the process of formation differs, the end result remains the same.
      By opting for lab-grown diamonds, we contribute to a more ethical and
      sustainable future, as they mitigate the environmental damage caused by
      mining.
    </p>

    <p data-aos="fade-in">
      Lab-grown diamonds are indistinguishable from their naturally mined
      counterparts to the naked eye. Even trained jewelers, using standard
      microscopes, cannot discern between the two. Only specialized equipment
      and gemological labs can differentiate lab-grown diamonds. Moreover,
      lab-grown diamonds retain their appearance indefinitely – they do not
      fade, discolor, or cloud, ensuring timeless and enduring beauty.
    </p>

    <p data-aos="fade-in">
      The defining characteristic of any diamond lies in its crystalline
      structure of carbon atoms, irrespective of whether it originates from the
      earth or a laboratory. Lab-grown diamonds boast the same chemical
      composition as naturally mined diamonds.
    </p>

    <p data-aos="fade-in">
      Retailing at a 60-75% discount compared to natural diamonds of equivalent
      quality, lab-grown diamonds are priced based on the traditional factors of
      cut, color, clarity, and carat weight. By eliminating mining-related
      expenses, these savings are passed on to consumers.
    </p>

    <p data-aos="fade-in">
      Lab-grown diamonds undergo grading procedures identical to those for mined
      diamonds. They are certified by reputable gemological laboratories such as
      IGI, GIA, SGL, and EGL.
    </p>

    <p data-aos="fade-in">
      Lab-grown diamonds exhibit the same hardness, strength, and durability as
      their mined counterparts, boasting a Mohs hardness rating of 10. Rest
      assured, lab-grown diamonds are robust enough to be passed down through
      generations.
    </p>

    <p data-aos="fade-in">
      Similar to natural diamonds, lab-grown diamonds are evaluated based on the
      4Cs – Cut, Color, Clarity, and Carat weight. Each lab-grown diamond is
      unique, and while machines can facilitate the creation process, variations
      in color, clarity, and carat size are inherent, mirroring the natural
      diversity found in earth-mined diamonds.
    </p>
  </div>
</div>
