<div class="gifts">
  <div>
    <div class="title">Top Gift Ideas</div>
    <div class="gifts-type">
      <li><div>Earrings</div></li>
      <li><div>Necklaces</div></li>
      <li><div>Bracelets</div></li>
      <li><div>Diamond Jewelry</div></li>
      <li><div>Gemstone Jewelry</div></li>
      <li><div>Pearl Jewelry</div></li>
    </div>
  </div>
  <div>
    <div class="title">Gifts By Occasion</div>
    <div class="gifts-type">
      <li><div>Anniversary</div></li>
      <li><div>Graduation</div></li>
      <li><div>Wedding Party Gifts</div></li>
      <li><div>Bridal Jewelry</div></li>
      <li><div>Birthday Gift</div></li>
    </div>
  </div>
  <div>
    <div class="gifts-type">
      <li><div>Gifts For Her</div></li>
      <li><div>Gifts Under $500</div></li>
    </div>
  </div>
  <div class="img-div">
    <img src="../../../../assets/gifts.jpg" alt="" srcset="" />
  </div>
</div>
