<div class="policy-page">
  <div class="cover-img">
    <img src="../../../assets/exchange.jpg" alt="" srcset="" />
    <div class="overlay">
      <div class="content">
        <h2>Privacy Policy</h2>
      </div>
    </div>
  </div>
  <div class="page-content container">
    <p data-aos="fade-in">
      We highly value the trust you place in VirtueStars.com, which is why we
      maintain the utmost standards for secure transactions and safeguarding
      customer information privacy.
    </p>

    <p class="title" data-aos="fade-in">
      A. Collection of Personally Identifiable Information:
    </p>
    <p class="pt-0" data-aos="fade-in">
      At VirtueStars, we collect your email address and phone number when you
      register on our website or visit our store. This allows us to record your
      wish lists, recently viewed products, and track orders efficiently.
      Additionally, we utilize your contact details to provide personalized
      offers and recommendations based on your previous orders, browsing
      history, and interests.
    </p>
    <p class="pt-0 mb-0" data-aos="fade-in">
      We may share certain personally identifiable information with third-party
      services, including:
    </p>
    <p class="pt-0" data-aos="fade-in">
      <li>
        Information provided by you such as name, email, and mobile phone
        number.
      </li>
      <li>
        Information collected during your use of our services, including device
        details, location, and network carrier
      </li>
    </p>

    <p class="title" data-aos="fade-in">
      B. Use of Demographic and Profile Data:
    </p>
    <p class="pt-0" data-aos="fade-in">
      Personal information is utilized to fulfill your service requests,
      troubleshoot problems, collect owed fees, and inform you about online and
      offline offers. To enhance our product and service offerings, we analyze
      demographic and profile data regarding user activity on our website.
      Additionally, we utilize your IP address to diagnose server issues and
      administer our website.
    </p>

    <p class="title" data-aos="fade-in">C. Security Precautions:</p>
    <p class="pt-0" data-aos="fade-in">
      VirtueStars employs robust security measures to safeguard against loss,
      misuse, and alteration of information under our control. Our website
      employs secure servers for account access and information modification. We
      adhere to stringent security protocols to prevent unauthorized access to
      your information.
    </p>

    <p class="title" data-aos="fade-in">D. Cookies:</p>
    <p class="pt-0" data-aos="fade-in">
      Cookies, small pieces of information stored by your browser, are utilized
      to enhance your browsing experience and provide uninterrupted service on
      VirtueStars.com. However, we do not use cookies to store personal
      information for external purposes.
    </p>

    <p class="title" data-aos="fade-in">E. Choice/Opt-Out:</p>
    <p class="pt-0" data-aos="fade-in">
      VirtueStars offers users the option to opt-out of receiving non-essential
      communications, including promotional and marketing-related messages, from
      us and our partners. Users can manage their communication preferences
      after setting up an account.
    </p>

    <p class="title" data-aos="fade-in">F. Questions?</p>
    <p class="pt-0" data-aos="fade-in">
      For any inquiries regarding this privacy policy, please contact us at
      {{ mail }}.
    </p>

    <p data-aos="fade-in">
      By utilizing the website or native mobile applications, you signify your
      agreement to the terms outlined in this privacy policy. VirtueStars
      reserves the right to modify, add, or delete portions of this privacy
      policy at our sole discretion and at any time.
    </p>
  </div>
</div>
