<div class="jewelry">
  <div>
    <div>
      <div class="title">Earrings</div>
      <div class="jewelry-type">
        <li><div>Design Your Own Earrings</div></li>
        <li><div>Diamond Earrings</div></li>
        <li><div>Gemstone Earrings</div></li>
        <li><div>Pearl Earrings</div></li>
        <li><div>Diamond Stud Earrings</div></li>
        <li><div>Gold Earrings</div></li>
        <li><div>Hoop Earrings</div></li>
        <li><div>Stud Earrings</div></li>
      </div>
      <div class="title">Bracelets</div>
      <div class="jewelry-type">
        <li><div>Diamond Bracelets</div></li>
        <li><div>Gemstone Bracelets</div></li>
        <li><div>Pearl Bracelets</div></li>
        <li><div>Gold Bracelets</div></li>
        <li><div>Silver Bracelets</div></li>
        <li><div>Tennis Bracelets</div></li>
        <li><div>Bangle Bracelets</div></li>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="title">Necklaces</div>
      <div class="jewelry-type">
        <li><div>Design Your Own Pendant</div></li>
        <li><div>Diamond Necklaces</div></li>
        <li><div>Pearl Necklaces</div></li>
        <li><div>Gold Necklaces</div></li>
        <li><div>Silver Necklaces</div></li>
        <li><div>Cross Necklaces</div></li>
      </div>
      <div class="title">Rings</div>
      <div class="jewelry-type">
        <li><div>Diamond Rings</div></li>
        <li><div>Gemstone Rings</div></li>
        <li><div>Wedding Rings</div></li>
        <li><div>Gold Necklaces</div></li>
        <li><div>Engagement Rings</div></li>
        <li><div>Gold Rings</div></li>
        <li><div>Fashion Rings</div></li>
      </div>
    </div>
  </div>
  <div>
    <div class="title">Jewelry</div>
    <div class="jewelry-type">
      <li><div>Lab Grown Diamond Jewelry</div></li>
      <li><div>Natural Diamond Jewelry</div></li>
      <li><div>Pearl Jewelry</div></li>
      <li><div>Rose Gold Jewelry</div></li>
      <li><div>White Gold Jewelry</div></li>
      <li><div>New Arrivals</div></li>
      <li><div>Jewelry Sale</div></li>
      <li><div>Under $100</div></li>
      <li><div>Designer Jewelry</div></li>
    </div>
  </div>
  <div class="img-div">
    <img src="../../../../assets/jewel.jpg" alt="" srcset="" />
  </div>
</div>
