<div class="policy-page">
  <div class="cover-img">
    <img src="../../../assets/exchange.jpg" alt="" srcset="" />
    <div class="overlay">
      <div class="content">
        <h2>Shipping Policy</h2>
      </div>
    </div>
  </div>
  <div class="page-content container">
    <p>
      We are pleased to provide complimentary shipping for all orders within
      India. Delivery times typically range from 48 to 72 hours for items
      'Available in Stock' and 15 to 25 business days for Made-to-Order items.
      Rest assured, your order will be dispatched to you fully insured. We
      encourage all customers to carefully inspect the package for any signs of
      damage or tampering before accepting delivery.
    </p>

    <p>
      For our valued Indian customers, your meticulously packaged item will be
      dispatched via our trusted shipping partners, including Sequel, BVC
      Logistics, DTDC, Bluedart, and others.
    </p>

    <p>
      <span>Packaging:</span> Each jewellery package is meticulously crafted to
      ensure durability and security. Whether it's a piece of jewellery or a
      precious solitaire, your item will arrive in an exclusive VirtueStars box,
      accompanied by all relevant certificates.
    </p>

    <p>
      Complimentary Gift Packaging: Should your purchase be intended as a gift,
      we are delighted to offer complimentary gift packaging, complete with a
      personalized message of your choosing. Your gift will be presented in our
      distinctive VirtueStars gift packaging, ensuring a memorable and elegant
      presentation.
    </p>

    <p>
      Please note that we reserve the right to modify this shipping policy as
      needed. We encourage you to review it regularly for any updates. Any
      changes or clarifications will be immediately posted on our website.
      Should there be any material changes to this policy, we will notify you
      promptly, ensuring transparency regarding our data collection, usage, and
      disclosure practices."
    </p>

    <p>
      This version maintains the original meaning while incorporating the
      company name VirtueStars. Let me know if there's anything else I can
      assist you with!
    </p>
  </div>
</div>
