<div class="wedding-ring">
  <div>
    <div class="title">Women's Rings</div>
    <div class="wedding-ring-type">
      <li><div>Diamonds</div></li>
      <li><div>Eternity</div></li>
      <li><div>Platinum</div></li>
      <li><div>Rose Gold</div></li>
      <li><div>Yellow Gold</div></li>
      <li><div>White Gold</div></li>
      <li><div>View all</div></li>
      <li><div>Top 10 Rings</div></li>
    </div>
  </div>
  <div>
    <div class="title">Men's Rings</div>
    <div class="wedding-ring-type">
      <li><div>Platinum</div></li>
      <li><div>Tungsten</div></li>
      <li><div>Titanium</div></li>
      <li><div>Rose Gold</div></li>
      <li><div>Yellow Gold</div></li>
      <li><div>White Gold</div></li>
      <li><div>View all</div></li>
      <li><div>Top 10 Rings</div></li>
    </div>
  </div>
  <div class="img-div">
    <img src="../../../../assets/wedding_ring.jpg" alt="" srcset="" />
  </div>
</div>
