<div class="home-page">
  <section class="carousel-section">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators z-index-10">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active z-index-10"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class="z-index-10"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class="z-index-10"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          class="z-index-10"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img
            class="d-block"
            src="../../assets/cover-1.png"
            alt="First slide"
          />
          <div class="overlay">
            <div class="carousel-content">
              <h2>Background Overlay</h2>
              <p>
                It's just a simple overlay without using the background-image
                property in CSS
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            class="d-block"
            src="../../assets/cover-2.png"
            alt="Second slide"
          />
          <div class="overlay">
            <div class="carousel-content">
              <h2>Background Overlay</h2>
              <p>
                It's just a simple overlay without using the background-image
                property in CSS
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            class="d-block"
            src="../../assets/cover-3.png"
            alt="Third slide"
          />
          <div class="overlay">
            <div class="carousel-content">
              <h2>Background Overlay</h2>
              <p>
                It's just a simple overlay without using the background-image
                property in CSS
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            class="d-block"
            src="../../assets/cover-4.png"
            alt="Third slide"
          />
          <div class="overlay">
            <div class="carousel-content">
              <h2>Background Overlay</h2>
              <p>
                It's just a simple overlay without using the background-image
                property in CSS
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev carousel-btn z-index-10"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <img src="../../assets/left-arrow.png" alt="" />
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next carousel-btn z-index-10"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <img src="../../assets/right-arrow.png" alt="" />
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <div class="category">
    <div class="text-center category-header" data-aos="fade-in">
      <h1 class="heading-font-family">Category</h1>
    </div>
    <div class="padding-0-8 d-flex category-boxes" data-aos="fade-in">
      <div class="w3-half margin-bottom-16">
        <div class="position-relative box">
          <div class="content">
            <img
              src="../../assets/category-3.jpg"
              alt="New York"
              style="width: 100%"
            />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
              <p class="content-text">This is a short description</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w3-half">
        <div class="padding-0-8 d-flex h-50" style="margin: 0 -16px">
          <div class="w3-half margin-bottom-16">
            <div class="position-relative box h-100">
              <div class="content h-100">
                <img
                  src="../../assets/category-4.jpg"
                  alt="New York"
                  class="h-100"
                  style="width: 100%"
                />
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">This is a title</h3>
                  <p class="content-text">This is a short description</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w3-half margin-bottom-16">
            <div class="position-relative box h-100">
              <div class="content h-100">
                <img
                  src="../../assets/category-1.png"
                  alt="New York"
                  class="h-100"
                  style="width: 100%"
                />
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">This is a title</h3>
                  <p class="content-text">This is a short description</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="padding-0-8 d-flex h-50" style="margin: 0 -16px">
          <div class="w3-half margin-bottom-16">
            <div class="position-relative box h-100">
              <div class="content h-100">
                <img
                  src="../../assets/category-2.png"
                  alt="New York"
                  class="h-100"
                  style="width: 100%"
                />
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-top">
                  <h3 class="content-title">This is a title</h3>
                  <p class="content-text">This is a short description</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w3-half margin-bottom-16">
            <div class="position-relative box h-100">
              <div class="content h-100">
                <img
                  src="../../assets/category-5.png"
                  class="h-100"
                  alt="New York"
                  style="width: 100%"
                />
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-top">
                  <h3 class="content-title">This is a title</h3>
                  <p class="content-text">This is a short description</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="over-promise mt-5 mb-5 primary-font-family">
    <!-- <h2 data-aos="fade-in" class="over-promise-header">Our Promise</h2> -->
    <div class="d-flex justify-content-evenly flex-wrap">
      <div data-aos="fade-in" class="promise-box">
        <div class="d-flex justify-content-center mt-4 mb-4">
          <img src="../../assets/free-shipping.png" alt="" />
        </div>
        <div class="text-center flex-column d-flex mt-3 mb-4">
          <span>Free worldwide</span>
          <span>shipping & returns </span>
        </div>
      </div>
      <div data-aos="fade-in" class="promise-box">
        <div class="d-flex justify-content-center mt-4 mb-4">
          <img src="../../assets/product.png" alt="" />
        </div>
        <div class="text-center flex-column d-flex mt-3 mb-4">
          <span>Ethically sourced </span>
          <span>and crafted </span>
        </div>
      </div>
      <div data-aos="fade-in" class="promise-box">
        <div class="d-flex justify-content-center mt-4 mb-4">
          <img src="../../assets/gold.png" alt="" />
        </div>
        <div class="text-center flex-column d-flex mt-3 mb-4">
          <span>Recycled post-</span>
          <span>consumer gold </span>
        </div>
      </div>
      <div data-aos="fade-in" class="promise-box">
        <div class="d-flex justify-content-center mt-4 mb-4">
          <img src="../../assets/diamond.png" alt="" />
        </div>
        <div class="text-center flex-column d-flex mt-3 mb-4">
          <span>Sustainable</span>
          <span>diamonds</span>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5 mb-5" data-aos="fade-in">
    <div class="text-center featured-collection mb-5">
      <h1 class="heading-font-family">Featured Collection</h1>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </section>

  <section class="faq-section container mb-5" data-aos="fade-in">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="faq-logo-title">
          <div class="faq-title">
            <h4 class="heading-font-family">Faq’s</h4>
            <p class="secondary-font-family">More Answers, Fewer doubts</p>
          </div>
          <div class="title">
            <h4 class="primary-font-family">Lab Grown Diamonds in india</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <mat-accordion>
          <ng-container *ngFor="let faq of faqData">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="primary-font-family">
                  {{ faq.question }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="secondary-font-family">{{ faq.answer }}</p>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>
    </div>
  </section>

  <hr class="container" />

  <section
    data-aos="fade-in"
    class="subscribe-newsletter text-center mt-5 mb-5"
  >
    <h2 class="heading-font-family">Join the Virtual Stars club</h2>
    <p class="secondary-font-family">
      Be the first to know about new collections and exclusive offers.
    </p>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-stroked-button class="subscribe-Button">Subscribe</button>
    </div>
  </section>
</div>
