<div class="diamond">
  <div>
    <div class="diamond-type">
      <li>
        <div>Solitaire</div>
      </li>
      <li><div>Halo</div></li>
      <li><div>Vintage</div></li>
      <li><div>Side stone</div></li>
      <li><div>Unique</div></li>
    </div>
  </div>
  <div>
    <div class="diamond-type">
      <li><div>Gemstone</div></li>
      <li><div>Two-Stone</div></li>
      <li><div>Three-Stone</div></li>
      <li><div>designer</div></li>
    </div>
  </div>
  <div>
    <div class="diamond-type">
      <li><div>Rose Gold</div></li>
      <li><div>Yellow Gold</div></li>
      <li><div>White Gold</div></li>
      <li><div>Men’s Engagement</div></li>
    </div>
  </div>
  <div class="img-div">
    <img src="../../../../assets/engagement_ring.jpg" alt="" srcset="" />
  </div>
</div>
